p {
    font-size: 12pt;
}

h2 {
    font-size: 12pt;
    font-weight: bold;
}

.page-content {
    margin: 32px 64px 12px;
}

ul {
    font-size: 12pt;
    font-weight: normal;
    margin: 12px 0;
    padding-left: 16px;
}

li {
    margin: 8px;
}

a {
    font-weight: inherit;
}

.versions {
    line-height: 24px;
    margin: 24px 0 12px;
}