body {
    margin: 0;
    background-color: white;
}

h1.result-message {
    font-size: 16pt;
    font-weight: normal;
    text-align: center;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}

h1.result-message.error-num {
    font-size: 100pt;
    margin-bottom: 32px;
}

h2.result-message {
    font-size: 12pt;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 0;
}

h2.result-message.link {
    margin-top: 32px;
    margin-bottom: 16px;
}

/*noinspection CssOptimizeSimilarProperties*/
.page-content {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

/*noinspection CssOptimizeSimilarProperties*/
div.result-message {
    font-size: 12pt;
    font-weight: normal;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 16px;
    display: inline-block;
    text-align: left;
}

div.hr {
    height: 2px;
    font-size: 0;
    background-color: #607D8B;
}

.text-align--center {
    text-align: center;
}

.margin-top-bottom--default-2x {
    margin-top: 16px;
    margin-bottom: 16px;
}

/*
    В общем случае (при включенном JavaScript) используется
    стиль из файла include/styles/scripts_enabled.css.
*/
.div-center-outer {
    display: table;
    position: inherit;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
}

.div-center-outer--center {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.div-center-middle {
    display: table-cell;
    vertical-align: middle;
}

.div-center-inner {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.color-text--primary {
    color: rgba(0, 0, 0, 0.87);
}

.color-text--secondary {
    color: rgba(0, 0, 0, 0.54);
}

.color-text--error {
    color: rgb(213, 0, 0);
}

td.color--red {
    color: #F6F6F6;
    background-color: #F44336;
}

td.color--yellow {
    color: black;
    background-color: #FFEB3B;
}

td.color--gray {
    color: black;
    background-color: #E9E9E9;
}

.bk-color--white {
    background-color: white;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    min-width: 33%;
}

.width--100-percents {
    width: 100%;
}

.width--70-percents {
    width: 70%;
}

.width--15-percents {
    width: 15%;
}
