h1.mysql_datetime {
    font-size: 6vmin;
    font-weight: normal;
    text-align: center;
    line-height: 1.35;
    margin-top: 24px;
    margin-bottom: 24px;
}

h2.mysql_datetime {
    font-size: 5vmin;
    font-weight: normal;
    text-align: center;
    line-height: 1.35;
    margin-top: 24px;
    margin-bottom: 24px;
}