/* Отступы сверху и снизу нужны, чтобы не перекрывать ссылки на хизере и футтере */
.div-center-outer {
    display: table;
    position: fixed;
    left: 0;
    right: 0;
    top: 15%;
    bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    height: 70%;
}