html {
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    background-color: white;
}

body.night {
    background-color: black;
}

a {
    color: inherit;
    cursor: inherit;
}

.set-night-mode {
    position: absolute;
    margin: 8px;
    right: 0;
    cursor: pointer;
    color: #d0d0d0;
}

.set-night-mode.night {
    color: #333333;
}

.temp {
    display: table;
    position: absolute;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.temp--row {
    display: table-row;
}

.temp--cell {
    display: table-cell;
    vertical-align: middle;
    font-weight: normal;
    text-align: center;
    line-height: 1;
    padding-left: 16px;
    padding-right: 16px;
}

.temp--copyright {
    position: absolute;
    bottom: 0;
    margin: 8px;
    font-size: 6pt;
    color: #DDD;
}

.temp--copyright.night {
    color: #1D1D1D;
}

.temp--copyright.left-section {
    left: 0;
}

.temp--copyright.right-section {
    right: 0;
}