html {
    overflow: auto;
}

.wac--cell.header.text.date  {
    background-color: #D7A70E;
}

.wac--cell.header.text.temp {
    background-color: yellow;
}

.wac--cell.header.text.time  {
    background-color: #876A0C;
}

.wac--cell.header.text {
    background-color: #C9C900;
}

.wac--cell.name.department {
    background-color: blue;
}

.wac--cell.name.company {
    background-color: green;
}

.wac--cell.counter.department {
    background-color: darkblue;
}

.wac--cell.counter.company {
    background-color: #005000;
}