body {
    color: #0D0D0D;
}

body.night {
    color: orange;
}

.wac--cell.header.text {
    font-size: 40px;
}

.wac--cell.header.text.date {
    font-size: 50px;
}

.wac--cell.header.text.temp {
    font-size: 50px;
}

.wac--cell.header.text.time {
    font-size: 50px;
}

.wac--cell.name.department {
    font-size: 80px;
}

.wac--cell.name.company {
    font-size: 70px;
}

.wac--cell.counter {
    font-size: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.color-text--darkgrey {
    color: #A9A9A9;
}

.show-on-hover:hover {
    color: #0D0D0D;
}

.show-on-hover.night:hover {
    color: white;
}
